div {
    justify-content: center;
}

#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    border: 5px solid red;
}

.squareContainer {
    display: flex;
    height: 100%; 
    width: 100%;
}

.square {
    border: 1px solid black;
    flex: 1 1 auto;
}
