body {
    background-color: #AAA;
}


#box1 { 
    background-color: #700;
    color: #FFF;
    margin: 10px;
    border-style: dashed;
    border-width: 5px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

#box2 { 
    background-color: #770;
    color: #FFF;

    margin: 0;
    padding: 0;

    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 200px;
}

#box3 { 
    background-color: #A3A;
    color: #FFF;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
}

#box4 { 
    background-color: #077;
    color: #FFF;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
}

#box5 { 
    background-color: #7A3;
    color: #FFF;

    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
}

#box6 { 
    background-color: #A73;
    color: #FFF;
}
